
  
<div class="overl">
<table class="w-full">
<thead><tr>
<th>Index</th>
<th>Title</th>
<th>Date</th>
<th>Link</th>
</tr></thead>
<tbody>
<!-- all posts -->
<% (page.posts || []).forEach((post, index) => { %>
    <tr>
    <th>index: <%= index %></th>
    <td>title: <%= post.title %></td>
    <td>date: <%- date(post.date, 'YYYY/M/D') %></td>
    <td>link: <a href="<%= url_for(post.path) %>"><%= post.path %></a></td>
    </tr>
<% }) %>
</tbody></table></div>

<!-- pagination -->

Pagination:  <%- paginator({
  prev_text: '[previous page]',
  next_text: '[next page]',
}) %>



<p>Category List helper</p>
<%- list_categories() %>

<hr>

<p>Tag list helper</p>
<%- list_tags() %>

<hr>

<p>Archive list helper</p>
<%- list_archives() %>

<hr>

<p>Tag cloud helper</p>
<%- tagcloud() %>

<hr>

<p>
  Link to static resources: <br>

  To link an image store it in the <b>mytheme/source/</b> folder and use the <b>url_for</b> function.

  <br>

  <img src="<%- url_for('/an-image.png') %>">
</p>

<hr>